<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jakub Kurdziel</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

  <style>
    .analytics {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .badges img {
      margin-top: 35px;
      margin-right: 15px;
    }
  </style>

  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>

<body>
  <!-- Navbar -->
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/" class="nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link active">About Me</a>
        </li>
        <li class="nav-item">
          <a href="/product" class="nav-link">Ekstract Opinions</a>
        </li>
        <li class="nav-item">
          <a href="/product-list" class="nav-link">Products List</a>
        </li>
      </ul>
    </header>


    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 badges">
          <img src="https://img.shields.io/badge/-JavaScript-05122A?style=flat&logo=javascript" alt="" />
          <img src="https://img.shields.io/badge/-TypeScript-05122A?style=flat&logo=typescript" alt="" />
          <img src="https://img.shields.io/badge/-HTML-05122A?style=flat&logo=HTML5" alt="" />
          <img src="https://img.shields.io/badge/-SCSS-05122A?style=flat&logo=SASS" alt="" />
          <img src="https://img.shields.io/badge/-Node.js-05122A?style=flat&logo=node.js" alt="" />
          <img src="https://img.shields.io/badge/-jest-05122A?style=flat&logo=jest" alt="" />

          <img src="https://img.shields.io/badge/-React-05122A?style=flat&logo=react" alt="" />
          <img src="https://img.shields.io/badge/-Next.js-05122A?style=flat&logo=Next.js" alt="" />
          <img src="https://img.shields.io/badge/-Redux-05122A?style=flat&logo=redux&logoColor=1572B6" alt="" />
          <img src="https://img.shields.io/badge/-CSS-05122A?style=flat&logo=CSS3&logoColor=1572B6" alt="" />
          <img src="https://img.shields.io/badge/tailwindcss-05122A.svg?&style=flat&logo=tailwind-css&logoColor=white"
            alt="" />
          <img src="http://img.shields.io/badge/-PHP-05122A?style=flat-square&logo=php&logoColor=4951aa" alt="" />
          <img src="https://img.shields.io/badge/-express-05122A?style=flat&logo=express" alt="" />

          <img src="https://img.shields.io/badge/-Material_UI-05122A?style=flat&logo=material-ui" alt="" />
          <img src="https://img.shields.io/badge/-Bootstrap-05122A?style=flat-square&logo=bootstrap&logoColor=563D7C"
            alt="" />
          <img src="https://img.shields.io/badge/-Git-05122A?style=flat&logo=git" alt="" />
          <img src="https://img.shields.io/badge/-Markdown-05122A?style=flat&logo=markdown" alt="" />
          <img src="https://img.shields.io/badge/-styled_components-05122A?style=flat&logo=styled-components" alt="" />
          <img src="https://img.shields.io/badge/-Vue.js-05122A?style=flat&logo=vue.js&logoColor=4FC08D" alt="" />

          <img
            src="https://img.shields.io/badge/-Visual%20Studio%20Code-05122A?style=flat&logo=visual-studio-code&logoColor=007ACC"
            alt="" />
          <img src="https://img.shields.io/badge/-Firebase-05122A?style=flat&logo=Firebase" alt="" />
          <img src="https://img.shields.io/badge/-lodash-05122A?style=flat&logo=lodash" alt="" />

        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3 text-light">Jakub Kurdziel</h1>
          <p class="lead text-light">I am 21 yo polish programmer. Currently I work as a Implementation Engineer at
            Warsaw company Talkie.ai. I started my adventure with programming almost 3 years ago</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2"><a class="text-decoration-none text-white"
                href="https://wonderful-hugle-16c351.netlify.app/">More</a> </button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a
                class="text-decoration-none text-secondary" href="https://github.com/kubo550">Github <img width="30"
                  src="https://img.icons8.com/fluency/48/000000/github.png" /></a> </button>
          </div>
        </div>
      </div>
    </div>





    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4 analytics">
        <img
          src="https://github-readme-stats.vercel.app/api?username=kubo550&layout=compact&hide=contribs,prs&count_private=true&show_icons=true&theme=midnight-purple"
          alt="powerty's github stats" />

      </div>
      <div class="col-md-5 analytics">
        <img
          src="https://github-readme-stats.vercel.app/api/top-langs/?username=kubo550&layout=compact&theme=midnight-purple&exclude_repo=States-CoVID-19,Asteroids-Game,clock-git,weatherApp,extending-particles,heart-fireworks,website,top-songs,react-memory-game,cinema,canvas-gallery,TypeRacer-clone,tic-tac-toe-closure,game-speedrun-timer,typeracer-multiplayer)](https://github.com/anuraghazra/github-readme-stats"
          alt="Top Langs" />
      </div>
      <div class="col-md-1"></div>
    </div>



  </div>

  <p align="center" class="mt-5">
    <a target="_blank" href="https://www.linkedin.com/in/jakub-kurdziel-449714205/"><img
        src="https://img.icons8.com/bubbles/50/000000/linkedin.png" alt="Linkedin" /></a>
    <a target="_blank" href="https://www.facebook.com/powerty2"><img
        src="https://img.icons8.com/bubbles/50/000000/facebook-new.png" alt="Facebook" /></a>
    <a target="_blank" href="https://github.com/kubo550">
      <img src="https://img.icons8.com/bubbles/50/000000/github.png" alt="Github" />
    </a>

    <a target="_blank" href="https://www.instagram.com/__kurdziel/"><img
        src="https://img.icons8.com/bubbles/50/000000/instagram.png" alt="Instagram" /></a>
    <a target="_blank" href="https://www.messenger.com/t/100005543894347"><img
        src="https://img.icons8.com/bubbles/50/000000/facebook-messenger.png" alt="Messenger" /></a>
  </p>

</body>

</html>