<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jakub Kurdziel App</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>

<body>
  <!-- Navbar -->
  <div class="container homepage">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">About Me</a>
        </li>
        <li class="nav-item">
          <a href="/product" class="nav-link">Ekstract Opinions</a>
        </li>
        <li class="nav-item">
          <a href="/product-list" class="nav-link">Product List</a>
        </li>
      </ul>
    </header>


    <div align="center">
      <a href="https://github.com/jakub20kurdziel/ceneo-scraper">
        <img src="https://raw.githubusercontent.com/othneildrew/Best-README-Template/master/images/logo.png" alt="Logo"
          width="80" height="80">
      </a>

      <h3 align="center">Ceneo scraper</h3>

      <p align="center">
        Application to extract opinions from Ceneo.pl website.

        <br />
      </p>
    </div>

    <div align="center">

      <a href="https://github.com/jakub20kurdziel/ceneo-scraper/stargazers"><img
          src="https://img.shields.io/github/stars/jakub20kurdziel/ceneo-scraper" alt="Stars Badge" /></a>
      <a href="https://github.com/jakub20kurdziel/ceneo-scraper/network/members"><img
          src="https://img.shields.io/github/forks/jakub20kurdziel/ceneo-scraper" alt="Forks Badge" /></a>
      <a href="https://github.com/jakub20kurdziel/ceneo-scraper/pulls"><img
          src="https://img.shields.io/github/issues-pr/jakub20kurdziel/ceneo-scraper" alt="Pull Requests Badge" /></a>
      <a href="https://github.com/jakub20kurdziel/ceneo-scraper/issues"><img
          src="https://img.shields.io/github/issues/jakub20kurdziel/ceneo-scraper" alt="Issues Badge" /></a>
      <a href="https://github.com/jakub20kurdziel/ceneo-scraper/graphs/contributors"><img alt="GitHub contributors"
          src="https://img.shields.io/github/contributors/jakub20kurdziel/ceneo-scraper?color=2b9348"></a>
      <a href="https://github.com/elangosundar/awesome-README-templates/blob/master/LICENSE"><img
          src="https://img.shields.io/github/license/jakub20kurdziel/ceneo-scraper?color=2b9348"
          alt="License Badge" /></a>

    </div>


    <h2 id="-runner-getting-started">Getting Started</h2>
    <p>This is an example of how you may give instructions on setting up your project locally.
      To get a local copy up and running follow these simple example steps.</p>
    <h3 id="-arrow_down-installation">Installation</h3>
    <p><em>Below is an example of how you can instruct your audience on installing and setting up your app. This
        template
        doesn&#39;t rely on any external dependencies or services.</em></p>
    <ul>
      <li class="text-light">Clone the repo
        <pre><code class="lang-sh">git <span class="hljs-keyword">clone</span> <span class="hljs-title">git</span>@github.com:jakub20kurdziel/ceneo-scraper.git
      </code></pre>
      </li>
    </ul>
    <p align="right">(<a href="#top">back to top</a>)</p>

    <!-- USAGE EXAMPLES -->
    <h2 id="-computer-usage">Usage</h2>
    <p>Open repo in new terminal widnow</p>
    <p><code>source flask/bin/activate</code></p>
    <p><code>python app.py</code></p>
    <p>then go to <a href="http://localhost:5000/">http://localhost:5000/</a> in your browser</p>
    <p align="right">(<a href="#top">back to top</a>)</p>

    <h2 id="tech-stack">Tech Stack</h2>
    <ul>
      <li class="text-light">Python</li>
      <li class="text-light">BeautifulSoup</li>
      <li class="text-light">Bootstrap</li>
      <li class="text-light">Flask</li>
      <li class="text-light">Chart.js</li>
      <li class="text-light">Jsonpickle</li>
      <li class="text-light">Datatables</li>
      <li class="text-light">Icons8</li>
    </ul>
    <h2 id="-pencil-license">License</h2>
    <p>This project is licensed under <a href="https://opensource.org/licenses/MIT">MIT</a> license.</p>
    <h2 id="-man_astronaut-show-your-support"> Show your support</h2>
    <p>Give a ⭐️ if this project helped you!</p>



  </div>
</body>

</html>